.imageflow {
  color: #000;
  background-color: #fff;
}

.imageflow .navigation {
  z-index: 1000;
}

.imageflow .caption {
  z-index: 1001;
  color: #000;
  margin-top: 30px;
}

.imageflow .scrollbar {
  z-index: 1002;
}

.imageflow .slider {
  z-index: 1003;
}

.imageflow .slideshow {
  z-index: 1003;
}
